.app-icon {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.feather-image {
    height: 100%;
    /* color: #496982; */
    color: #2e476e;
}

.app-name {
    font-family: 'Pacifico', cursive;
    font-size:1.5rem;
    color: #2e476e;
}

@media screen and (max-width: 600px) {
    .app-name {
        display:none;
    }
    .feather-image {
        height: 60%;
    }
}
