.top-bar {
    width: 100%;
    height: 100px;
    padding: 0.8rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 5px solid #e8e8e8;
    background-color: aliceblue;
}

@media screen and (max-width:600px) {
    .top-bar {
        justify-content:space-around;
        padding:0.6rem;
    }
}
