.menu-button {
    box-sizing: border-box;
    min-height: 30px;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    background-color: white;
    border: 2px solid lightgray;
    height: 60%;
    padding: 0.4rem;
}

.menu-icon {
    border-radius: 10px;
    height: 100%;
    padding: 0rem;
    color: #2e476e;
}

.menu-button:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 0.7rem darkgrey);
}

