.details-table {
    width: 100%;
}

.details-header {
    width: 30%;
    padding: 1% 2%;
    text-align: left;
}

.details-data {
    padding: 1% 2%;
    text-align: left;
}

.details-tab {
    background-color: aquamarine;
}