.location-search {
    box-sizing: border-box;
    height: 60%;
    width: 25%;
    padding:0;
    margin:0;
    position: relative;
}

.location-input {
    height: 100%;
    width:100%;
    outline: 2px solid lightgray;
    border:none;
    border-radius: 10px;
    text-align: left;
    padding-left: 10px;
    font-size: 1rem;
    font-style: italic;
}

.search-icon {
    height:100%;
    z-index: 1;
    position: absolute;
    right:0;
    border:none;
    border-radius: 10px;
    padding: 0px 20px;
    font-size: 20px;
    color: #2e476e;
}

.search-icon:hover {
    cursor: pointer;
    background-color: #cfdef8;
}

.location-item {
    margin: 0px 10px;
    padding: 5px 0;
    text-align: left;
    border-bottom: 2px solid #bbd1f3;
    color: #2e476e;
}

.location-item:hover:not(.no-result) {
    cursor: pointer;
    color: #051227;
    background-color: #ecf4ff;
    margin:0;
    padding: 5px 10px;
}

.location-results {
    border: 1px solid #b0c4e4 ;
    width: 100%;
    position: absolute;
    top: calc(100% + 1px);
    background-color: #d5e5ff;
    border-radius: 10px;
    z-index: 100;
    padding: 0;
}

.location-item:last-child {
    border: none;
}

.location-item:last-child:hover:not(.no-result) {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.location-item:first-child:hover:not(.no-result) {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}


@media screen and (max-width: 600px) {
    .location-search {
        width: 50%;
    }
    .location-input {
        padding-left: 10px; 
        font-size: 0.8rem;
    }
}

